In [1]:
#Group 2 data for analysts working on Weather Analysis
import pandas as pd

print("This program shows the data of analysts working on Weather Analysis.")
Love = r"C:\Users\Janet\Documents\grp2.csv"

Loveline = pd.read_csv(Love)
print(Loveline)

This program shows the data of analysts working on Weather Analysis.
                        Names
0             Chinwe Victoria
1          Ezenwafor Loveline
2  Ogungbade Stella Adefisola
3          Omanukwue Ifunanya

In [2]:
Loveline["Gender"] = ["F","F","F","F"]
Loveline

                        Names Gender
0             Chinwe Victoria      F
1          Ezenwafor Loveline      F
2  Ogungbade Stella Adefisola      F
3          Omanukwue Ifunanya      F