In [1]:
import pandas as pd

Love = r"C:\Users\Loveline\Documents\DA_materials\stocks101.xlsx"
Loveline = pd.read_excel(Love)
Loveline

   Stock Month   Value
0   MSFT   Jan  103.60
1   MSFT   Feb  106.90
2   MSFT   Mar  115.91
3   MSFT   Apr  121.05
4   MSFT   May  126.02
5     WM   Jan   92.70
6     WM   Feb   99.06
7     WM   Mar  100.97
8     WM   Apr  104.44
9     WM   May  106.26
10   LMT   Jan  276.00
11   LMT   Feb  307.23
12   LMT   Mar  296.25
13   LMT   Apr  308.71
14   LMT   May  336.17

In [ ]:
Loveline ["S/N"] = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
Loveline

In [ ]:
Loveline.set_index("S/N", inplace=True)
Loveline

In [ ]:
Dt = pd.DataFrame({'Minimum Value': ("Month"["Value"])}),
Dt2 = pd.DataFrame({'Maximum Value': ("Month"["Value"])})
Dataset = [Dt, Dt2]
result = pd.concat(Dataset)
result

In [ ]:
Loveline.groupby("Month")["Value"].max()

In [ ]:
Loveline.groupby("Month")["Value"].min()

In [ ]:
Dt = pd.DataFrame({'Minimum Value': ("Month"["Value"])}),
Dt2 = pd.DataFrame({'Maximum Value': ("Month"["Value"])})
Dataset = [Dt, Dt2]
result = pd.concat(Dataset)
result

In [ ]:
Loveline.groupby("Stock")["Value"].max()

In [ ]:
Loveline.groupby("Stock")["Value"].min()