In [ ]:
import matplotlib.pyplot as plt 
import pandas as pd
#from matplotlib import pyplot as plt

In [ ]:
%matplotlib inline

In [ ]:
s = pd.Series([50,60,90,80,50], index=["Mariam","Emmanuel","Ajuzie","Bunmi","Quadri"])
s.plot(kind="bar")
plt.savefig("plot.png")
plt.show()

In [ ]:
s = pd.Series([50,60,90,80,50], index=["Mariam","Emmanuel","Ajuzie","Bunmi","Quadri"])
s.plot(figsize=(10,10))
plt.savefig("plot.png")

In [ ]:
s = pd.Series([50,60,90,80,50], index=["Mariam","Emmanuel","Ajuzie","Bunmi","Quadri"])
s.plot(kind="bar", figsize=(10,10))
plt.savefig("plot.png")

In [ ]:
a = pd.DataFrame({
    "BLT": [50,60,90,80,50],
    "ELT": [70,80,100,100,70]
}, index=["Mariam","Emmanuel","Ajuzie","Bunmi","Quadri"])

In [ ]:
a.plot(kind="bar",stacked=True)

In [ ]:
a = pd.DataFrame({
    "BLT": [50,60,90,80,150,150],
    "ELT": [70,80,100,100,70,100]
}, index=["Mariam","Emmanuel","Ajuzie","Bola","Bunmi","Quadri"])

In [ ]:
a.plot(kind="box",stacked=True)

In [ ]:
a = pd.DataFrame({
    "BLT": [50,60,90,80,150,-150],
    "ELT": [70,80,100,100,50,70]
}, index=["Mariam","Emmanuel","Ajuzie","Nath","Bunmi","Quadri"])

In [ ]:
a.plot(kind="box",stacked=True)

In [ ]:
filex = r"C:\Users\Janet\Documents\DA_materials\ca-covid.csv"
df = pd.read_csv(filex)
df.drop('state', axis=1, inplace=True)
df['date'] = pd.to_datetime(df['date'], format="%d.%m.%y")
df["month"] = df["date"].dt.month
df.set_index('date',inplace=True)

df[df["month"]==12]["cases"].plot()

In [ ]:
filex = r"C:\Users\Janet\Documents\DA_materials\ca-covid.csv"
df = pd.read_csv(filex)
df.drop('state', axis=1, inplace=True)
df['date'] = pd.to_datetime(df['date'], format="%d.%m.%y")
df["month"] = df["date"].dt.month
df.set_index('date',inplace=True)

df[df["month"]==12]["cases"].plot(kind="bar")

In [ ]:
df[df["month"]==12]

In [ ]:
df

In [ ]:
filex = r"C:\Users\Janet\Documents\DA_materials\ca-covid.csv"
df = pd.read_csv(filex)
df.drop('state', axis=1, inplace=True)
df['date'] = pd.to_datetime(df['date'], format="%d.%m.%y")
df["month"] = df["date"].dt.month
df.set_index('date',inplace=True)

df[df["month"]==12]["deaths"].plot()

In [ ]:
filex = r"C:\Users\Janet\Documents\DA_materials\ca-covid.csv"
df = pd.read_csv(filex)
df.drop('state', axis=1, inplace=True)
df['date'] = pd.to_datetime(df['date'], format="%d.%m.%y")
df["month"] = df["date"].dt.month
df.set_index('date',inplace=True)

(df[df['month']==12])[['cases','deaths']].plot()

In [ ]:
df[df['month']==12].plot()

In [ ]:
df[df['month']==12]

In [ ]:
df.groupby("month")["cases"].sum()

In [ ]:
df.groupby("month")["cases"].sum().plot(kind="bar")
plt.savefig("plot.png")

In [ ]:
df.groupby("month")["cases"].sum().plot(kind="bar", figsize=(10,8))

In [ ]:
df.groupby("month")["cases"].sum().plot(kind="bar", figsize=(10,8), grid=True)

In [ ]:
df.groupby("month")["deaths"].sum().plot(kind="bar")
plt.savefig("plot.png")

In [ ]:
df.groupby("month")[["cases","deaths"]].sum().plot(kind="bar",grid=True)

In [ ]:
ab = pd.DataFrame({
    "QTY": [50,60,90,80,50],
    "Milk": [12,15,18,20,34]
}, index=["Mary","Emma","Ajunwa","Bola","Queen"])
ab

In [ ]:
ab.groupby("QTY")["Milk"].sum().plot(kind="bar")

In [ ]:
ab.plot(kind="bar",figsize= [8,8,],grid=False,stacked=False)

In [ ]:
ab.plot(kind="barh",figsize= [8,8,],grid=False,stacked=False,xlabel="Milk",ylabel="QTY")

In [ ]:
plt.xlabel("Milk")
plt.ylabel("QTY")
ab.plot(kind="bar",figsize= [8,8,],grid=False,stacked=False,xlabel="Milk",ylabel="QTY")

In [ ]:
plt.xlabel("Milk")
plt.ylabel("QTY")
ab.plot(kind="box",figsize= [8,8,],grid=False,stacked=False,xlabel="Milk",ylabel="QTY")

In [ ]:
a = pd.DataFrame({
    "BLT": [50,60,90,80,50],
    "ELT": [70,80,100,100,70]
}, index=["Mariam","Emmanuel","Ajuzie","Bunmi","Quadri"])

In [ ]:
a.plot(kind="box",stacked=True)

In [ ]:
ab.describe()

In [ ]:
df[df["month"]==6]["cases"].plot(kind="box")

In [ ]:
df[df["month"]==6]["cases"].plot(kind="hist")

In [ ]:
b =df[df["month"]==6]
b2 = b[(b["cases"]>2000) & (b["cases"]<2900)]
#b[b["cases"]==b2]
b2["cases"].count()

In [ ]:
b =df[df["month"]==6]
b2 = b[(b["cases"]>2000)]
#b[b["cases"]==b2]
b2["cases"].count()

In [163]:
v = df[df["month"]==6]
v[v["cases"]>=3000]

             cases  deaths  month
date
2020-06-05  3593.0    66.0    6.0
2020-06-11  3570.0    72.0    6.0
2020-06-12  3576.0    45.0    6.0
2020-06-13  3149.0    73.0    6.0
2020-06-16  3469.0    82.0    6.0
2020-06-17  4250.0    81.0    6.0
2020-06-18  3754.0    76.0    6.0
2020-06-19  3708.0    66.0    6.0
2020-06-20  4011.0    70.0    6.0
2020-06-21  3953.0    22.0    6.0
2020-06-22  5813.0    44.0    6.0
2020-06-23  6419.0    76.0    6.0
2020-06-24  4850.0    91.0    6.0
2020-06-25  5524.0    82.0    6.0
2020-06-26  5614.0    62.0    6.0
2020-06-27  4426.0    30.0    6.0
2020-06-28  5502.0    35.0    6.0
2020-06-29  7040.0    42.0    6.0
2020-06-30  8158.0   104.0    6.0

In [162]:
v

date
2020-06-01    2529.0
2020-06-02    2438.0
2020-06-03    2326.0
2020-06-04    2510.0
2020-06-05    3593.0
2020-06-06    2637.0
2020-06-07    2850.0
2020-06-08    2290.0
2020-06-09    2958.0
2020-06-10    2894.0
2020-06-11    3570.0
2020-06-12    3576.0
2020-06-13    3149.0
2020-06-14    2519.0
2020-06-15    2709.0
2020-06-16    3469.0
2020-06-17    4250.0
2020-06-18    3754.0
2020-06-19    3708.0
2020-06-20    4011.0
2020-06-21    3953.0
2020-06-22    5813.0
2020-06-23    6419.0
2020-06-24    4850.0
2020-06-25    5524.0
2020-06-26    5614.0
2020-06-27    4426.0
2020-06-28    5502.0
2020-06-29    7040.0
2020-06-30    8158.0
Name: cases, dtype: float64