In [9]:
import pandas as pd
data1 = pd.Series(["Ezenwafor","Ajewole","Ajuzie","Bolarinwa","Akin"], name= "Surname")
data2 = pd.Series(["Loveline","Emma","Agric","Bola","Alex"], name= "First Name")
Loveline = pd.concat([data1, data2], axis=1, keys = ["A","B"])

Loveline

           A         B
0  Ezenwafor  Loveline
1    Ajewole      Emma
2     Ajuzie     Agric
3  Bolarinwa      Bola
4       Akin      Alex

In [10]:
Loveline ["S/N"] = [1,2,3,4,5]

In [11]:
Loveline.set_index("S/N", inplace=True)
Loveline

             A         B
S/N
1    Ezenwafor  Loveline
2      Ajewole      Emma
3       Ajuzie     Agric
4    Bolarinwa      Bola
5         Akin      Alex